.form__field{
  margin: 0 12px;
}

.cardContent{
  text-align: center;
}

.formViewContainer{
  max-height: calc(100vh - 438px);
  overflow-y: auto;
  overflow-x: hidden;
}
.formEditContainer{
  max-height: calc(100vh - 105px);
  overflow-y: auto;
  overflow-x: hidden;
}

mat-card{
  margin: 20px 0;
}

.actions{
  margin: 0 2px;
}
