<form style="text-align: center;margin-top: 10px;" class="form" [formGroup]="form">
  <p>
    <mat-form-field class="form__input">
      <input matInput placeholder="User Name" formControlName="userName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="form__input">
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
  </p>
  <div class="form-actions">
    <button class="form-actions__login" mat-raised-button color="primary" (click)="login()">Login</button>
  </div>
</form>
