<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/new-profile']">
            <button class="form-actions actions" mat-raised-button color="accent">New Profile
              <mat-icon>add</mat-icon>
            </button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<mat-form-field style="width: 100%;">
  <input type="text" matInput (change)="applyFilter($event)" placeholder="Search">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<a class="navbar-brand" [routerLink]="['view-profile', profile.id]" style="width: 100%;"
  *ngFor="let profile of filterdProfiles">
  <mat-card>
    <mat-card-title><mat-icon>{{profile.data.gender.toString() === 'Male' ? 'boy':'girl'}}</mat-icon>
      <p>{{profile.data.name + ' ' + profile.data.surname}}</p>
      <p>
        {{getProfileAge(profile.data)}}
      </p>
    </mat-card-title>
    <mat-card-header>{{getCardHeader(profile.data)}}</mat-card-header>
    <img *ngIf="profile.picturesId.length !== 0" mat-card-md-image src="{{getProfilePictureUrl(profile.picturesId)}}">
    <mat-card-content>
      <p>{{getCardBirth(profile.data.birthDetails)}}</p>
      <p>{{getParents(profile.data)}}</p>
    </mat-card-content>
  </mat-card>
</a>
<div *ngIf="filterdProfiles.length == 0" style="text-align: center;">
  <mat-label>No Results!</mat-label>
</div>
